
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fab fa-pushed"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Admin Panel</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/dashboard/">
      <i class="fas fa-home mx-3"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Admin Panel
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">

    <a class="nav-link" href="/users/">
      <i class="fab fa-slack-hash mx-3"></i>
      <span>Users</span>
    </a>
    
    <a class="nav-link" href="/products/">
      <i class="fab fa-slack-hash mx-3"></i>
      <span>Products</span>
    </a>

    <a class="nav-link" href="/manufacturers/">
      <i class="fab fa-slack-hash mx-3"></i>
      <span>Manufacturers</span>
    </a>
    <a class="nav-link" href="/category/">
      <i class="fab fa-slack-hash mx-3"></i>
      <span>Category</span>
    </a>
    <a class="nav-link" href="/enquiry/">
      <i class="fab fa-slack-hash mx-3"></i>
      <span>Enquiry Emails</span>
    </a>

  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">


</ul>
<!-- End of Sidebar -->