<div>
    <h1 class="greetMessage">Welcome, {{name}}</h1>
    <hr class="sidebar-divider">
    <div class="flex-con">
        <h3 class="text_para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum molestias ipsa est accusantium veniam, porro incidunt eos optio excepturi ut velit eius? Eveniet non odio nihil sunt quisquam pariatur suscipit!</h3>
        <img class="image-dashboard" src="/images/undraw_Work_time_re_hdyv.svg" alt="Girl in a jacket"> 
    </div>
</div>