<div class="displayflex">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Our Manufactures
  </a>
  {{#each data}}
    <a href="#" class="list-group-item list-group-item-action">{{this.name}}</a>
  {{/each}}
</div>
<img class="image-dashboard" src="/images/undraw_factory_dy0a.svg" alt="Explore from wide number of categories"> 
</div>