<div>
    <h1 class="text_para_home">Hello and Welcome to user dashboard</h1>

    <img class="image-dashboard mt-4" src="/images/undraw_web_shopping_dd4l.svg" alt="Explore from wide number of categories"> 
</div>